<!DOCTYPE html>
<html lang="it">


<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pensieri</title>
  <link rel="icon" type="image/x-icon" href="/assets/favicon.png">

    <!-- Import local libraries -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- Font Awesome -->
    <script src="/scripts/fontawesome.js"></script>
    

  <!-- Custom Files-->
  <link href="styles/all.css" rel="stylesheet">
  <script src="/scripts/all.js" defer></script>
</head>

<body data-bs-theme="dark">

  <%- include("header"); %>

  <!-- Page Content-->
  <div class="container main mx-auto my-2">

    <section id="pensiero">
      <div class="position-relative overflow-hidden p-3 text-center">
        <h1 class="display-2 heading">Pensiero <%= numero %></h1>
        <div class="row">
          <div class="col-2 my-2">
            <div class="list-group" id="list-tab" role="tablist">
              <% categorie.forEach(function(categoria) { %>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="<%= categoria.link %>" role="tab" aria-controls="<%= categoria.nome %>"><%= categoria.nome %></a>
              <% }); %> 
            </div>
          </div>
          <div class="col-10">
            <p class="lead text-muted">
              <%= pensiero %>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <%- include("footer"); %>
</body>